version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: nhxserver-postgres
    environment:
      POSTGRES_USER: nhxuser
      POSTGRES_PASSWORD: nhxpass
      POSTGRES_DB: nhxserver
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nhxuser"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:8.0.0
    container_name: nhxserver-mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: nhxuser
      MONGO_INITDB_ROOT_PASSWORD: nhxpass
      MONGO_INITDB_DATABASE: nhxserver
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mailhog:
    image: mailhog/mailhog:latest
    container_name: nhxserver-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "1025"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  mongo_data:
  postgres_data: