spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:nhxdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mail:
    host: localhost
    port: 1025
    username: mongsdev@nhx.com
    protocol: smtp
storage:
  kyc:
    container-name: kyc-documents

logging:
  level:
    com.javaguy.nhx: DEBUG
