<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{email-base :: layout(~{::content})}">
<div th:fragment="content">
    <p>Dear <span th:text="${firstName}"></span>,</p>
    <p>Fantastic news! Your mint request (ID: <span th:text="${requestId}"></span>) for **<span th:text="${amount}"></span> KES** has been successfully **transferred** to your wallet.</p>
    <p>You can now see your KESY tokens in your wallet.</p>
    <p th:if="${transactionId}">
        <strong>Treasury Transaction ID:</strong> <span th:text="${transactionId}"></span>
    </p>
    <p>If you have any questions, feel free to reach out to our support team.</p>
</div>
</html>
