<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{email-base :: layout(~{::content})}">
<div th:fragment="content">
    <p>Dear <span th:text="${firstName}"></span>,</p>
    <p>Good news! Your mint request (ID: <span th:text="${requestId}"></span>) for **<span th:text="${amount}"></span> KES** has been **settled**.</p>
    <p>Your KESY tokens have been successfully transferred to your wallet: <span th:text="${walletAddress}"></span>.</p>
    <p>If you have any questions, feel free to reach out to our support team.</p>
</div>
</html>