<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{email-base :: layout(~{::content})}">
<div th:fragment="content">
    <p>Dear <span th:text="${firstName}"></span>,</p>
    <p>Thank you for submitting your KYC documents. Your submission is now **under review** by our team.</p>
    <p>We will notify you once the review process is complete.</p>
    <p style="text-align: center;">
        Please go to your dashboard to check the status.
    </p>
    <p>If you have any questions, feel free to reach out to our support team.</p>
</div>
</html>