<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{email-base :: layout(~{::content})}">
<div th:fragment="content">
    <p>Dear <span th:text="${firstName}"></span>,</p>
    <p>Great news! Your KYC verification has been **approved**.</p>
    <p>You can now fully access all features of your <span th:text="${appName}"></span> account.</p>
    <p style="text-align: center;">
        Please go to your dashboard to access all features.
    </p>
    <p>If you have any questions, feel free to reach out to our support team.</p>
</div>
</html>