<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{email-base :: layout(~{::content})}">
<div th:fragment="content">
    <p>Dear <span th:text="${firstName}"></span>,</p>
    <p>Welcome to <span th:text="${appName}"></span>! We're excited to have you on board.</p>
    <p>You can now explore our platform and start your journey.</p>
    <p style="text-align: center;">
        <a th:href="${dashboardUrl}" class="button">Go to Dashboard</a>
    </p>
    <p>If you have any questions, feel free to reach out to our support team.</p>
    <p>Best regards,<br/>The <span th:text="${appName}"></span> Team</p>
</div>
</html>