<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{email-base :: layout(~{::content})}">
<div th:fragment="content">
    <p>Dear <span th:text="${firstName}"></span>,</p>
    <p>Great news! Your mint request (ID: <span th:text="${requestId}"></span>) for **<span th:text="${amount}"></span> KES** has been **minted**.</p>
    <p>Your KESY tokens have been successfully minted and are now available in your wallet.</p>
    <p th:if="${transactionId}">
        <strong>Treasury Transaction ID:</strong> <span th:text="${transactionId}"></span>
    </p>
    <p style="text-align: center;">
        <a th:href="${mintsUrl}" class="button">View Mint Requests</a>
    </p>
    <p>If you have any questions, feel free to reach out to our support team.</p>
</div>
</html>
